**/.DS_Store
**/.gradle
**/build
**/bin
**/gradle
**/gradlew
**/gradlew.bat
**/javascript/classes*
**/javascript/js
**/javascript/alt*.html
**/javascript/manifest_alt*.json
**/javascript/Minecraft4k.html
**/javascript/Minecraft4k_alt*.html
**/javascript_alt